:root

/* The following CSS selector (rule) removes underlines from all hyperlinks. Do not do this. */
a {
    text-decoration: none;
}

* {
    margin:0;
    padding: 0;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

nav {
    text-align: right;
    display: flex;
    flex: row; 
}

.navigation {
    display: flex;
    list-style: none;
    align-items: center
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a :hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Oswald
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px #777;
}

.herodiv {
    margin: 10px auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
    text-shadow: 0 0 15px #333;
    border-bottom: 1px solid #999;
    margin-bottom: 0.3rem;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 1rem;
    border-top: 1px solid #000;
    padding: 0.5rem;
    color: navy;
    font-weight: 700;
    font-style:italic;
    display: flex;
    flex-flow: row-reverse; 
}